.webpack-ui {
  .webpack-ui-menu {
    min-height: 100%;
    min-width: 100%;
    .menu {
      background-color: $theme-blue;
      border-radius: 0;
      min-height: calc(100vh - 50px);
      min-width: 100%;
      .item {
        border-top: 1px solid $pale-blue;
        color: $white;
        .icon {
          color: $white;
        }
        &:hover {
          border-left: 5px solid $white;
          color: $white;
        }
        &.active {
          background-color: $white !important;
          color: $theme-blue;
          .icon {
            color: $theme-blue;
          }
          &:hover {
            border-left: 5px solid $theme-blue;
            color: $theme-blue;
          }
        }
      }
    }
  }
}
