.button {
  &.theme-blue-button {
    background-color: $theme-blue !important;
    color: $white !important;
  }
}

/******************************************************************************
  Common Padding and Margin classes
******************************************************************************/
.padding-0 {
  padding: 0 !important;
}
